<nav>
    <ul>
        <li>    
            <span class="siteName">
                <a href="/" title="Return to home page">TicketShare</a>
            </span>
        </li>
        <li>
            <a href="/bookings">See my bookings</a>
        </li>
        <li>
            <a href="/shared">See my shared bookings</a>
        </li>
    </ul>
</nav>